<!-- Chrome left the room! -->

<link href="https://bootswatch.com/4/materia/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<style type="text/css">
@media print { body { -webkit-print-color-adjust: exact;font-family: 'Roboto', sans-serif; } }

h1, h2, h3, h4,h5 {
  font-family: 'Roboto', sans-serif;
  color: #2ecc71;
}

.mainColumns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;x
}

.header {

}

.companyLine {
  font-size: 2rem;
  font-weight: bold;
}

.barHeader {
  color: white;
  background-color: #34495e;
  padding: 0.3rem;
}

.invoiceDetailsContainer {
  display: flex;
  flex-flow: row wrap;
}

.invoiceDetailsContainer div {
}

.center {
  text-align: center;
}

table th {
  color: white;
  background-color: #34495e;
  padding: 0.3rem;
  text-align: center;
}

.headerHidden {
  background-color: transparent;
}
table td {
  padding: 1rem;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #dfe6e9;
}

tbody tr:nth-child(even) {
  background-color: #b2bec3;
}

.fullcontainer {
    padding: 1rem;
}


</style>

<div class='fullcontainer'>

<h1 class='title'>Workbook for Tippers {{ date }}</h1>
<br />
<br />


{% for round in data %}
<table style='width:100%;'>
    <thead>
        <th></th>
        <th></th>
    </thead>
    <tbody>
    {% for jobItem in round.jobs %}
    {% if jobItem.jobStatusId == 2 %}
        <tr>
            <td>Run {{ jobItem.order.grade.name }}({{ jobItem.order.grade.ewCodes}}) for {{ jobItem.order.account.name }} {{ jobItem.order.site.name }} {{ jobItem.siteAddress }} {{ jobItem.time }} <br /> 
              to {{ jobItem.order.tipSite.name }} {{ jobItem.tipSiteAddress }} <br />
              {{ jobItem.order.description }} - {{ jobItem.order.driverNotes }}
              {{ jobItem.unitText }}
              {{ jobitem.order.contactName }} {{ jobItem.order.contactTelephone }}
            </td>
            <td>{{ round.driver.firstName }} {{ round.driver.lastName }} <br />
              {{ round.vehicle.registration }} <br />
              {{ round.vehicle.make }}/{{ round.vehicle.model }}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<hr />
{% endfor %}

</div>
