<link href="https://bootswatch.com/4/materia/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<style type="text/css">
@media print { body { -webkit-print-color-adjust: exact;font-family: 'Roboto', sans-serif; } }

h1, h2, h3, h4,h5 {
  font-family: 'Roboto', sans-serif;
  color: #2ecc71;
}

.mainContainer {
  padding: 2rem;
}
.borderedContainer {
  border: 1px solid black;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  vertical-align: middle;
}

.borderedText {
  text-align: center;
  width:100%;
}

.centeredContainer {
  width:100%;
  text-align: center;
}

.headerLine {
  color: white;
  text-transform: uppercase;
  width:100%;
  background:black;
}
</style>

<div class='mainContainer'>
<img style='width:4rem' src='{{ invoiceInfo.companyLogo }}' />

<br />
  <div class='borderedContainer'>
    <div class='borderedText'>
      Site Permit: WML/E/20132
    </div>
  </div>
  <br />
    <div class='borderedContainer'>
    <div class='borderedText'>
      Carrier registration number: {{ details.carrierLicenceNumber }}
    </div>
  </div>
  <br />

  <div class='centeredContainer' style='font-size: 1.2rem'>
  DUTY OF CARE <br />
  NON NOTIFIABLE WASTE TRANSFER NOTE
  </div>
  <p>{{ yardTrade.customer.name }} undertake to collect the waste described below and deposit it only at a site licensed to accept such waste, in accordance with the Environment Protection Act - Duty of Care</p>

  <div class='headerLine'>
WASTE PRODUCER
  </div>

  <div style='  border: 1px solid black;overflow:hidden;'>
    <div style='float:left'>
    Producer Name:  {{ yardTrade.customer.name }}
    <br />
    <br />
    Address: <br />
    {{ address }}
    <br />
    <br />
    </div>

    <div class='float:right;text-align:right;'>
    SIC Code: {{ sicCode.code }} - {{ sicCode.name }}
    </div>

  </div>
  <div style='clear:both'>&nbsp;</div>

  <p>By signing below I confirm that I have fulfilled my duty to apply the waste hierarchy as required by section 34 (2A) of the Environment Protection Act 1990 in so far as required.</p>

  <div class='headerLine'>
DETAILS
  </div>

  <p style='font-size: 1.2rem'><strong>
    {{ yardTrade.grade.name }} - {{ yardTrade.grade.ewcCodes }}
  </strong></p>

  <p style='font-size: 1.2rem'><strong>
  GROSS WEIGHT {{ yardTrade.grossWeight}}KG <br />
  TARE WEIGHT {{ yardTrade.tareWeight}}KG <br />
  NET WEIGHT: {{ yardTrade.grossWeight - yardTrade.tareWeight}}KG <br />
  </strong></p><br/><br/>

    <div class='headerLine'>

TRANSFER DETAILS

  </div>

  <table border='1' style='width:100%'>
    <thead>
    </thead>
    <tbody>
      <tr>
        <td>Transfer Date From: {{ yardTrade.date | date("d/m/Y") }}</td>
        <td>Transfer Date to: {{ yardTrade.date | date("d/m/Y") }}</td>
      </tr>
      <tr height='80px'>
        <td>Producer Signature:</td>
        <td>Carrier Signature: </td>
      </tr>
      <tr>
        <td>Print Name:</td>
        <td>Print Name:</td>
      </tr>
      <tr>
        <td>Representing: </td>
        <td>Representing: {{ yardTrade.customer.name }}</td>
      </tr>
      <tr>
        <td>Position:</td>
        <td>Position:</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <br />

  <div class='centeredContainer' style='font-size: 1.2rem'>
    THIS DOCUMENT IS A CONTROLLED WASTE TRANSFER NOTE AND MUST BE KEPT SAFELY BY THE PRODUCER AND CARRIER FOR 2 YEARS
    <hr>
  </div>

  <div style='page-break-after: always;'></div>

  <div class='headerLine'>
    Terms And Conditions
  </div>
  <div class='centeredContainer' style='font-size: 1.2rem'>
    <table border='1' style='width:100%'>
      <thead></thead>
      <tbody>
        <tr>
          <td width='50%' style='vertical-align:top;font-size:0.8rem;'>
            {{invoiceInfo.wasteTransferTermsBlockA}}
          </td>
          <td width='50%' style='vertical-align:top;font-size:0.8rem;'>
            {{invoiceInfo.wasteTransferTermsBlockB}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>



</div>
